<h2>{{question1.question}}</h2>
hello

<div class = 'container'></div>
<form method = 'post'>
  <input name="answer" type="radio" class="answerButton" value=A> </input>
  <input type="submit"> </input>
</form>
</div>