body {
  display: flex;
  justify-content: center;

}
.app{
  height:100%;
  width:1500px
}
.header{
  display:flex;
  justify-content:  space-around;
  color:lightgreen;
  width: auto;
  justify-content: center;
  background-color: white;
  height:150px;
  
}

button {
  display: flex;
  justify-content: center;
  float: center;

}
.container{
  max-width:1400px;
  margin: auto; 
  justify-content: center;
  border-radius: 50%;
  object-fit: cover;
  width: 600px;
  height: 600px;
  background-color: white;
  padding:50px; 
  padding-top:50px;
  }

.game{
  padding:100px
}

img {
  float: right;
  max-width: 20%;
  height: auto;
}

.answerOptions{
  list-style: none
}




  .fade-enter {
    opacity: 0;
  }

  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.3s;
  }

  .fade-leave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
  }

  .fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

/* use css transition component

//stretch, use green colour to show which is correct answer